
	/*文章区域*/
	.articleArea{
		box-sizing: border-box;
		float:left;
		width: 100%;
		max-width: 700px;
		height:auto;
		background-color: #fff;
		box-shadow:1px 1px 4px #ddd;
		padding:30px;
		margin-bottom:50px;
	}
	#articleTitle{
		text-align: center;
		font-weight: 700;
		font-size:40px;
		margin:10px;
		overflow: auto;
	}
	.article-author-message-area{
		display: flex;
		height: 50px;
	}
	.article-author-photo{
		height: 50px;
		flex:0 1 50px;
		border-radius: 50%;
	}
	.article-author-message{
		flex:1;
		margin-left: 10px;
		color:#999;
		letter-spacing: .1em;
	}
	.article-author-name{
		display: block;
		font-weight: 700;
		font-size:18px;
		color:#000;
		line-height: 30px;
	}
	/*文章区域*/
	.article-body-area{
		min-height: 100px;
		padding:10px 0;
		white-space: wrap;
		overflow: hidden;
	}
	.article-body-area pre{
		width: 100%;
		overflow-x:auto;
	}
	/*评论区域*/
	.commont-area>span{
		display: block;
		width: 100%;
		text-align: center;
		color:#999;
		margin:20px 0;
		font-size:16px;
	}
	.send-commont-area{
		transition:.5s height ease;
		background-color:rgb(251,251,251);
		border:1px solid #eee;
		font-size: 0;
		height: 120px;
		overflow: hidden;
	}
	.send-commont-area-height{
		height:180px;
	}
	.send-commont-area-wrap{
		position: relative;
		padding: 20px;
		height: 140px;
	}
	.send-commont-area-wrap>div{
		display: flex;
	}
	.send-commont-area-wrap>div>img{
		flex:0 1 50px;
		border-radius:50%;
		width: 50px;
		height: 50px;
	}
	.send-commont-area-wrap>div>textarea{
		margin-left: 10px;
		flex:1;
		height:60px;
		overflow: hidden;
		resize: none;
		font-size:18px;
		border:1px solid #eee;
	}
	.send-commont-area-wrap>input[type='button']{
		position: absolute;
		height:40px;
		bottom:10px;
		right: 20px;
		background-color: rgb(0,108,255);
		color:#fff;
		border:none;
	}
	.send-commont-area-wrap>input[type='button']:hover{
		background-color:rgb(0,168,255);
	}
	.send-commont-area-wrap>input[type='button']:active{
		background-color:rgb(108,108,155);
	}

	/*评论列表*/
	.show-commont-area{
		width: 100%;
		margin:20px 0;
	}
	.show-commont-area>li{
		width: 100%;
		display: flex;
		margin-top: 20px;
	}
	.show-commont-area>li:not(:last-child){
	border-bottom: 1px solid #eee;
	}
	.show-commont-area>li>img{
		display: block;
		flex:0 1 40px;
		height: 40px;
		border-radius:50%;

	}
	.commont-user-area{
		flex:1;
		margin-left:10px;
		min-height: 80px;
	}
	.commont-user-name{
		font-weight: 700;
	}
	.commont-time{
		margin-left:10px;
		color:#999;
		font-size:14px;
	}
	.commont-content{
		display:inline-block;
		word-break:break-all;
		width:100%;
	}
@media screen and (min-width: 961px){

	/*文章作者信息*/
	.articleAuthorMessage{
		padding-bottom: 20px;
		background-color: #fff;
		border-radius: 4px;
		user-select:none; 	
	}
	.articleAuthorMessageTitle{
		display: block;
		padding: 8px;
		text-align: center;
		font-weight: 700;
		border-bottom: .5px solid rgb(0,108,255);
		color:rgb(0,108,255);
		border-radius:4px 4px 0 0;
	}
	.authorMessageArea{
		width: 100%;
		height:70px;
		display: flex;
	}
	.authorMessageArea img{
		flex:0 1 50px;
		margin:10px;
		border-radius:50%;
	}
	.authorMessageArea .authorMessage{
		flex:1;
		margin:10px;
	}
	.authorName{
		display: block;

	}
	.authorIntroduce{
		display: block;
		font-size:10px;
		color:#999;
		width: 100px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.dataShowArea{
		padding:5px 10px;
		line-height: 24px;
	}
	.dataShowArea .fa{
		color:rgb(0,108,255);
		width: 20px;
		font-size: 24px;
	}
	.dataShowArea span{
		margin-left: 10px;
		color:#777;
		vertical-align: top;
	}
}	
@media screen and (min-width: 360px) and (max-width: 960px){

}