.post-search{
	position: absolute;
	font-size: 0;
	text-align: center;
	top:10%;
	left:50%;
	font-size: 0;
	transform:translateY(-50%) translateX(-50%);
}
.post-search input[type='text']{
	box-sizing: border-box;
	display: inline-block;
	padding-left:10px;
	vertical-align: top;
	width: 500px;
	margin-right: 10px;
	border:1px solid #999;
	height: 30px;
	font-size:20px;
}
.post-search button{
	width: 30px;
	height:30px;
	font-size: 15px;
}
.mention{
	display: block;
	font-size: 25px;
	color:#aaa;
}


/*用户表管理*/

.post-table li{
	display: flex;
	line-height: 30px;
}
.post-table li:not(:last-child){
	margin-bottom: 5px;
}
.post-table li>span{
	box-sizing: border-box;
	width: 20%;
	text-align: center;
}
.manage-button-area{
	font-size:0;

}
input[type="button"]{
	vertical-align: top;
	height: 100%;
	outline: none;
	width: 50%;
	border:none;
	border-radius: 20px;
	box-shadow: 2px 2px 5px #999;
}
input[type="button"]:hover{
	background: linear-gradient(to bottom right,rgba(30,30,30,.5) 10%,rgba(180,180,180,.1) 100%);
}
input[type="button"]:active{
	background: linear-gradient(to bottom right,rgba(30,30,30,.8) 10%,rgba(180,180,180,.5) 100%);
}

.editButton{

	background-color:#555;
	color:#fff;
}

.deleteButton{
	background-color:rgb(255,100,100);
	color:#fff;
}
.post-table li:nth-child(odd){
	background-color:rgb(240,240,240);
}
