

.dataShowArea{
	padding: 0 10px;
	font-size:0;
}
.dataShow{
	box-sizing: border-box;
	display: inline-block;
	width: 25%;

	height: 80px;
	line-height: 80px;
	border-radius: 100px;
}
.dataShow:not(:last-child){
		padding:0 30px 0 0;
}

.dataIcon{
	display: inline-block;
	vertical-align: top;
	background: #0ff;
	font-size: 40px;
	text-align: center;
	color:#fff;
	width: 40%;
	height: 80px;
	border-radius:10px 0 0 10px;
}
.data{
	display: inline-block;
	vertical-align: top;
	background: #fff;
	font-size: 20px;
	width:60%;
	height: 80px;
	text-align: center;
	border-radius:0 10px 10px 0;
}
.dataNumber{
	display: block;
	margin-top:-10px;
	height:20px;
	color:#444;
}
.dataDescription{
	font-size:15px;
	color:#999;
}
.userTheme{
	background-color:rgb(48,165,255);
}
.visitTheme{
	background-color:rgb(255,161,62);
}
.postTheme{
	background-color:rgb(30,191,64);
}
.blackListTheme{
	background-color:rgb(249,36,63);
}

/*图表显示*/
#canvas{
	background-color:#fff;
	border-radius:10px;
	margin:10px;
}