.disappear{
	display: none;
}

/*用户模糊搜索*/
.user-search{
	height:30px;
	line-height: 30px;
	text-align: center;	
	color:#444;
	padding:10px 0;
	border-bottom:1px solid #ddd;
}
.user-search input[type='text']{
	width: 50%;
}

/*用户表管理*/
.user-manage-area{
	position: absolute;
	left:10px;
	right:10px;
	background: #fff;
	box-shadow: 5px 5px 10px #ccc;
}
.user-table li{
	display: flex;
	line-height: 30px;
}
.user-table li:not(:last-child){
	margin-bottom: 5px;
}
.user-table li>span{
	box-sizing: border-box;
	width: 20%;
	text-align: center;
}
.manage-button-area{
	font-size:0;

}
input[type="button"]{
	vertical-align: top;
	height: 100%;
	outline: none;
	width: 50%;
	border:none;
	border-radius: 20px;
	box-shadow: 2px 2px 5px #999;
}
input[type="button"]:hover{
	background: linear-gradient(to bottom right,rgba(30,30,30,.5) 10%,rgba(180,180,180,.1) 100%);
}
input[type="button"]:active{
	background: linear-gradient(to bottom right,rgba(30,30,30,.8) 10%,rgba(180,180,180,.5) 100%);
}

.editButton{

	background-color:#555;
	color:#fff;
}

.deleteButton{
	background-color:rgb(255,100,100);
	color:#fff;
}
.user-table li:nth-child(odd){
	background-color:rgb(240,240,240);
}
.enterResultArea{
	position: fixed;
	top:0;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,.5);
}
.enterResult{
	position: fixed;
	top:100px;
	left:50%;
	width: 100%;
	max-width: 400px;
	transform:translateX(-50%);
	background-color: #fff;
	padding: 10px;
	font-size: 0;
	border-radius: 10px;
}
.enterResult>h3{
	text-align: center;
	color:rgb(0,108,255);
	font-size:20px;
}
.enterResult>input[type="text"]{
	width: 100%;
	box-sizing: border-box;
	margin:10px 0;
	height: 50px;
	font-size:18px;
}
#submitButton{
	margin:20px 0;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	background-color: rgb(0,108,255);
	color:#fff;
	height: 40px;
}
#cancelButton{
	margin:20px 0;
	display: inline-block;
	width: 50%;
	background-color: #fff;
	color:rgb(0,108,255)
	border:1px solid rgb(0,108,255);
	height: 40px;
}