@media screen and (max-width: 800px){
*{margin:0;padding:0;box-sizing: border-box;font-family:"仿宋";}
ul,li{
	list-style: none;
	padding:2px 0;
}
::-webkit-scrollbar  
{  
    width: 5px;  /*滚动条宽度*/
    height: 16px;  /*滚动条高度*/
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  /*滚动条的背景区域的圆角*/
    background:rgba(150,150,150,.7)/*滚动条的背景颜色*/  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #fff;  /*滚动条的背景颜色*/
}  


#songList{
	display: none;
	position:absolute;
	bottom: 40px;
	left:0;
	width:460px;
	height:350px;
	font-size: 0;
	background:rgba(0,0,0,.9);
}
#songListMain{
	display: inline-block;
	width:100%;
	height:350px;
	padding:20px;
}
ul>li:hover{
	color:#00eeff;
}
#songListMain{
	font-size:15px;
	color:#fff;
	overflow: auto;
}
.thePlayNow{
	color:#00ff00;
}

#songProcess{
	position:absolute;
	font-size:0;
	padding:0 20px;
	bottom:0;
	height:50px;
	padding-bottom:5px;
	background:rgba(0,0,0,.7);
}
#songProcess{
	color:#fff;
}
.btn{
	margin:0 5px;
	border-radius: 50%;
}
.btn:hover{
	background-color: #aaa;
}
#volumeControl{
	outline: none;
}

#mainBody{width:100%;clear:both;}
#mainBodyHead{
	position:absolute;
	padding-right: 20px;
	width:100%;
	text-align: right;
	color:#fff;
	height:70px;
}

#sendCommont{
	clear:both;
}
#userPhoto{
	float: left;
	margin-left:10px;
	vertical-align: top;
	border-radius:10px;
	border:2px solid #000;
}
#commont{
	float: left;
	margin-left:10px;
	vertical-align: top;
	width:80%;
	height:100px;
	outline:none;
	resize:none;
}
#finishCommont{
	width:100%;
	font-size: 30px;
	color:#fff;
	outline:none;
	border-radius:30px;
	background:rgba(100,256,100,.9);
}
#backgroundLyric{
	position: absolute;
	z-index: -1;
	 filter: blur(10px);
	float: right;
	width: 100%;
}
#mainBodyLyricArea{
	padding:50px;
	width: 100%;
	float:right;
	background:rgba(0,0,0,.6);
	color:#fff;
	overflow: auto;
}
#songTitle,#singerName{
	font-size:25px;
	color:#00ff00;
}
#songTitle>span,#singerName>span{
	
}
#showLyricArea{
	text-align: center;
}
.theLyricShowNow{
	font-size: 25px;
	color:#00ff00;
}
#userPower{
	position:absolute;
	width:70px;
	height:70px;
	text-align:center;
	top:0;
	opacity: 0;
	right: 20px;
	line-height: 70px;
	border-radius:50%;
	color:#00ff00;
	background:rgba(0,0,0,.7);
}

/*改动*/
#mainBodyPhotoArea{
	display:none;
	width:40%;
	float:left;
	overflow: auto;
	border-right:1px solid #999;
}
#photo{
	width:100%;
	padding-top:50px;
	text-align:center;
}
#commontArea{
	width:100%;
	height:50px;
	padding:0 30px;
}
.commontListArea{

}
.commontList{
	margin:20px;
}
.commontListLi{
}
.commontListUser{
	border-bottom:1px solid #ccc;
}
.commontListUserPhoto{
	vertical-align: middle;
	width:50px;
	height:50px;
	border-radius:10px;
	border:2px solid #000;
}
.commontListUserName{
	padding-left: 10px;
	vertical-align: bottom;
	font-size: 25px;
}
.commontTime{
	color:#aaa;
	vertical-align: bottom;
	font-size:15px;
}
.commontContent{
	width:100%;
	height:100px;
	border: none;
	resize:none;
	outline: none;
	font-size: 15px;
}
#btnArea{
	width: 100%;
	text-align: center;
}

#volume,#volumeControl,#searchSongArea,#theProcessArea{
	display: none;
}

}