@media screen and (min-width: 1201px){
*{margin:0;padding:0;box-sizing: border-box;font-family:"仿宋";}
ul,li{
	list-style: none;
	padding:2px 0;
}
body{
	overflow: hidden;
}
#loading{
	position: absolute;
	background:rgba(0,0,0,.5);
	color:#fff;
	font-size:50px;
	width: 100vw;
	height: 100vh;
	z-index:9999;
}
#loadingSpan{
	display: block;
	position: relative;
	left:50%;
	top:50%;
	text-align: center;
	transform: translate(-50%,-50%);
}
#phoneList{
	display: none;
}
::-webkit-scrollbar  
{  
    width: 5px;  /*滚动条宽度*/
    height: 16px;  /*滚动条高度*/
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  /*滚动条的背景区域的圆角*/
    background:rgba(150,150,150,.7)/*滚动条的背景颜色*/  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #fff;  /*滚动条的背景颜色*/
}  


#songList{
	display: none;
	position:absolute;
	bottom: 42px;
	left:0;
	width:460px;
	height:350px;
	font-size: 0;
	background:rgba(0,0,0,.9);
}
#songListMain{
	display: inline-block;
	width:100%;
	height:350px;
	padding:20px;
}
ul>li:hover{
	color:#00eeff;
}
#songListMain{
	font-size:15px;
	color:#fff;
	overflow: auto;
}
.thePlayNow{
	color:#00ff00;
}
#songPhoto{
	border-radius: 50%;vertical-align: middle;
	width: 70px;height:70px;
}
#songProcess{
	position:absolute;
	font-size:0;
	padding:0 20px;
	bottom:0;
	height:50px;
	padding-bottom:5px;
	background:rgba(0,0,0,.7);
}
#songProcess{
	color:#fff;
}
.btn{
	margin:0 5px;
	border-radius: 50%;
}
.btn:hover{
	background-color: #aaa;
}
#volumeControl{
	outline: none;
}
#theRealProcessArea{
	display: inline-block;
	vertical-align: middle;
	padding:20px 0;
}
#theProcessArea{
	font-size: 20px;
	width:100%;
	height:3px;
	border-radius:50px;
	background:rgba(150,150,150,.7);
}
#theProcessNow{
	width: 0%;
	height:3px;
	border-radius:50px;
	background-color:#fff;
}
#btnArea{
	width: 25%;
	display: inline-block;vertical-align: middle;
	text-align: center;
}

#mainBody{width:100%;clear:both;}
#mainBodyHead{
	position:absolute;
	padding-right: 20px;
	width:100%;
	text-align: right;
	color:#fff;
	height:70px;
}
#mainBodyPhotoArea{
	width:40%;
	float:left;
	overflow: auto;
	border-right:1px solid #999;
	padding-bottom:200px;
}
#photo{
	width:100%;
	padding-top:50px;
	text-align:center;
}
#commontArea{
	width:100%;
	height:50px;
	padding:0 30px;
}
.commontListArea{

}
.commontList{
	margin:20px;
}
.commontListLi{
}
.commontListUser{
	border-bottom:1px solid #ccc;
}
.commontListUserPhoto{
	vertical-align: middle;
	width:50px;
	height:50px;
	border-radius:10px;
	border:2px solid #000;
}
.commontListUserName{
	padding-left: 10px;
	vertical-align: bottom;
	font-size: 25px;
}
.commontTime{
	color:#aaa;
	vertical-align: bottom;
	font-size:15px;
}
.commontContent{
	width:100%;
	height:100px;
	border: none;
	resize:none;
	outline: none;
	font-size: 15px;
}
#sendCommont{
	clear:both;
}
#userPhoto{
	float: left;
	margin-left:10px;
	vertical-align: top;
	border-radius:10px;
	border:2px solid #000;
}
#commont{
	float: left;
	margin-left:10px;
	vertical-align: top;
	width:80%;
	height:100px;
	outline:none;
	resize:none;
}
#finishCommont{
	width:100%;
	font-size: 30px;
	color:#fff;
	outline:none;
	border-radius:30px;
	background:rgba(100,256,100,.9);
}
#backgroundLyric{
	position: absolute;
	z-index: -1;
	 filter: blur(10px);
	float: right;
	background-color: #000;
	width: 60%;
}
#mainBodyLyricArea{
	padding:50px;
	width: 60%;
	float:right;
	background:rgba(0,0,0,.6);
	color:#fff;
}
#songTitle,#singerName{
	font-size:25px;
	color:#00ff00;
}
#songTitle>span,#singerName>span{
	
}
#showLyricArea{
	height:550px;
	overflow: auto;
	text-align: center;
}
#showLyricArea::-webkit-scrollbar  
{  
    width: 0px;  /*滚动条宽度*/
    height: 16px;  /*滚动条高度*/
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
#showLyricArea::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  /*滚动条的背景区域的圆角*/
    background:rgba(150,150,150,.7)/*滚动条的背景颜色*/  
}  
  
/*定义滑块 内阴影+圆角*/  
#showLyricArea::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #fff;  /*滚动条的背景颜色*/
}  
#showLyric{
	padding: 150px 0;
}
.theLyricShowNow{
	font-size: 30px;
	color:#00ff00;
}
#userPower{
	position:absolute;
	width:70px;
	height:70px;
	text-align:center;
	top:0;
	opacity: 0;
	right: 20px;
	line-height: 70px;
	border-radius:50%;
	color:#00ff00;
	background:rgba(0,0,0,.7);
}
#searchSongArea{
	position: absolute;
	width: 40%;
	vertical-align: middle;
	text-align: center;
}
#inputSongOrSingerName{
	vertical-align: middle;
	border-radius: 20px;
	width: 40%;
	outline: none;
	font-size:20px;
	font-weight: bold;
}
#searchButton{
	vertical-align: middle;
	border-radius:50%;
	background-color:#999;
}
#searchButton:hover{
	background:rgba(200,200,200,1);
}
#showResultSongListArea{/*展示搜索结果*/
	color:#333;
	width: 50%;
	font-size:25px;
	text-align: left;
	background:rgba(250,250,250,.9);
	left:50%;
	transform: translateX(50%);
}
#showResultSongList{
	margin:0;
	display: none;
	overflow: auto;
	height:500px;
	padding: 0;
}
}